*-checkpoint.ipynb
**/.DS_Store
*.py[cod]
*.pyc
.DS_Store
notebooks/*.png
notebooks/*.csv
tests/*.png
tests/*.csv
.idea/*
build/
_build/
dist/

# Files
*.egg-info

__pycache__/
*.py[cod]
*.pyc
notebooks/.ipynb_checkpoints/
tests/.ipynb_checkpoints/
outputs/

examples/notebooks/.ipynb_checkpoints
examples/notebooks/*.csv
